html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}
@keyframes glow {
  from {
    text-shadow: 0 0 15px #8b5cf6;
  }

  to {
    text-shadow:
      0 0 30px #a855f7,
      0 0 60px #a855f7;
  }
}
